@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.pallete-color {
  background-color: #eae8dc;
}

.pallete-color_background {
  background-color: #d6bfb4;
}
